In [ ]:
a = 5
b = a
a = 12
b = 1
print(a)
print(b)

12
1

In [7]:
a

12

In [8]:
type(a)

int

In [9]:
b = True
type(b)

bool

In [10]:
b

True

In [11]:
c = 0.3
type(c)

float

#### operacoes
Vamos fazer algumas operacoes

In [12]:
h = 'Hello'
w = 'World'

In [13]:
h + w

'HelloWorld'

In [14]:
a + c

12.3

In [15]:
c + a

12.3

In [16]:
str(a)+h

'12Hello'

In [17]:
h.upper()

'HELLO'

In [18]:
h.capitalize()

'Hello'

* Objetos Mutaveis: list, set, dict
* Objetos Imutaveis: bool, int, float, tuple, str,...

In [19]:
def funcao_que_nao_altera_argumento(a):
    a = 100
    
b = 10
funcao_que_nao_altera_argumento(b)
print(b)

10

In [20]:
def funcao_que_altera_argumento(a):
    a[1] = 10

b = [1,2,3,4,5]
funcao_que_altera_argumento(b)
print(b)

[1, 10, 3, 4, 5]

In [21]:
a = 10
id(a)

4304624928

In [22]:
b = 10
id(b)

4304624928

In [23]:
a = a + 1
id(a)

4304624960

In [24]:
c = [10,11]
id(c)

4336211400

In [25]:
id(c[0])

4304624928

In [26]:
id(c[1])

4304624960

### listas conjuntos dicionarios

In [27]:
l = [1,2,3,4,5,]

In [28]:
l.append(20)

In [29]:
l

[1, 2, 3, 4, 5, 20]

In [30]:
l[0]

1

In [31]:
l[-1]

20

In [32]:
l[1:4]

[2, 3, 4]

In [33]:
l[1:-1]

[2, 3, 4, 5]

In [34]:
l[50]

IndexError: list index out of range

In [35]:
l[2:50]

[3, 4, 5, 20]

In [36]:
l[40:50]

[]

In [37]:
s = {1,2,3,4,5,6,5,3,5,4,1,2,4,3,2}

In [38]:
s

{1, 2, 3, 4, 5, 6}

In [39]:
list(s)

[1, 2, 3, 4, 5, 6]

In [40]:
set(l)

{1, 2, 3, 4, 5, 20}

In [41]:
l.append('a')

In [42]:
l

[1, 2, 3, 4, 5, 20, 'a']

In [43]:
l[::]

[1, 2, 3, 4, 5, 20, 'a']

In [44]:
l[::3]

[1, 4, 'a']

In [45]:
l[::-1]

['a', 20, 5, 4, 3, 2, 1]

In [46]:
l + l

[1, 2, 3, 4, 5, 20, 'a', 1, 2, 3, 4, 5, 20, 'a']

In [47]:
set(l[::-1] + l)

{1, 2, 3, 4, 5, 20, 'a'}

Dicionario / dict

chave eh objeto imutavel

In [48]:
d = {'a' : 1, 'b' : 2, 'c' :3}

In [49]:
d

{'a': 1, 'b': 2, 'c': 3}

In [50]:
d['a']

1

In [51]:
d['b']

2

In [52]:
d.keys()

dict_keys(['a', 'b', 'c'])

In [53]:
list(d.values())[1]

2

In [54]:
d.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [55]:
type(d)

dict

In [56]:
type(l)

list

In [57]:
type(s)

set

In [58]:
d2 = dict(x=10, y=20, z=30)

In [59]:
d2

{'x': 10, 'y': 20, 'z': 30}

In [60]:
type(d2)

dict

In [61]:
d['xyz'] = d2

In [62]:
d

{'a': 1, 'b': 2, 'c': 3, 'xyz': {'x': 10, 'y': 20, 'z': 30}}

In [63]:
d['m']

KeyError: 'm'

In [64]:
d.get('m',-1)

-1

Tuple

In [65]:
t = (1,2,3)

In [66]:
t[2]

3

In [67]:
t.append(20)

AttributeError: 'tuple' object has no attribute 'append'

In [68]:
 t = (1,2,3,4)

In [69]:
t

(1, 2, 3, 4)

Inicializacao de vazios

In [70]:
s_vazio = set()

In [71]:
d_vazio = dict()

In [72]:
l_vazio = list()

In [73]:
d_vazio_nao_fazer = {}
l_vazio_nao_fazer = []

In [74]:
type(d_vazio_nao_fazer)

dict

In [75]:
type(l_vazio_nao_fazer)

list

In [76]:
for i in [0,1,2,3,4,5,6,7,8,9]:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [77]:
lista_para_varredura = range(10)

for i in lista_para_varredura:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [78]:
lista_para_varredura = range(10)

for i in lista_para_varredura[6:2:-1]:
    print(i)

6
5
4
3

In [79]:
for i in range(10,5,-1):
    print(i)

10
9
8
7
6

In [80]:
range(10)

range(0, 10)

condicoes

In [81]:
multiplos = list()

for i in range(20):
    if i%3 == 0:
        multiplos.append(i)
    else:
        multiplos.append('n')

print(multiplos)

[0, 'n', 'n', 3, 'n', 'n', 6, 'n', 'n', 9, 'n', 'n', 12, 'n', 'n', 15, 'n', 'n', 18, 'n']

### List comprehension

In [82]:
print([i if i%3==0 else 'n' for i in range(20)])

[0, 'n', 'n', 3, 'n', 'n', 6, 'n', 'n', 9, 'n', 'n', 12, 'n', 'n', 15, 'n', 'n', 18, 'n']

In [83]:
[i for i in range(20)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [84]:
[i for i in range(20) if i%3==0]

[0, 3, 6, 9, 12, 15, 18]

In [85]:
[i if i%3==0 else 'n' for i in range(20)]

[0,
 'n',
 'n',
 3,
 'n',
 'n',
 6,
 'n',
 'n',
 9,
 'n',
 'n',
 12,
 'n',
 'n',
 15,
 'n',
 'n',
 18,
 'n']

## Exercicio

In [86]:
[1,4,9,16,25]

[1, 4, 9, 16, 25]

In [87]:
[i**2 for i in range(1,6)]

[1, 4, 9, 16, 25]

In [88]:
[-1,2,-1,6,-1,10,-1,14,-1,18,-1]

[-1, 2, -1, 6, -1, 10, -1, 14, -1, 18, -1]

In [2]:
[-1 if i%2==0 else i*2 for i in range(11)]

[-1, 2, -1, 6, -1, 10, -1, 14, -1, 18, -1]

In [16]:
#lista de listas

[[1,0,0],[0,1,0],[0,0,1]]

[[1, 0, 0], [0, 1, 0], [0, 0, 1]]

In [4]:
#lista de listas

for i in range(3):
    l = [0,0,0]
    l[i]=1
    print(l)

[[1 if col == row else 0 for col in range(3)] for row in range(3)]

[1, 0, 0]
[0, 1, 0]
[0, 0, 1]

[[1, 0, 0], [0, 1, 0], [0, 0, 1]]

In [92]:
#a = b
a = [1, 2, 3]
b = a
a[0] = 73
b[0] = 42
x = a[0]

In [5]:
[[1,0,0,0], [0,1,0,0], [0,0,1,0], [0,0,0,1]]

[[1, 0, 0, 0], [0, 1, 0, 0], [0, 0, 1, 0], [0, 0, 0, 1]]

In [7]:
#for i in range(4):
#    l = [0,0,0,0]
#    l[i] = 1
#    print(l)
    
[[1 if col == row else 0 for col in range(4)] for row in range(4)]

[[1, 0, 0, 0], [0, 1, 0, 0], [0, 0, 1, 0], [0, 0, 0, 1]]

In [20]:
[[int(col == row) for col in range(4)] for row in range(4)]

[[1, 0, 0, 0], [0, 1, 0, 0], [0, 0, 1, 0], [0, 0, 0, 1]]

In [22]:
import numpy as np
import pandas as pd

materia = ['EXECUÇÃO'] * 91 + ['BUSCA E APREENSÃO'] * 26 + \
          ['REINTEGRAÇÃO DE POSSE'] * 5

materia = list(np.random.choice(materia, size = len(materia), replace = False))
materia_series = list(materia)
pd.Series(materia_series).value_counts()

EXECUÇÃO                 91
BUSCA E APREENSÃO        26
REINTEGRAÇÃO DE POSSE     5
dtype: int64

In [11]:
materia2 = dict(EXECUCAO=91, BUSCA_E_APREENSAO=26, REINTEGRACAO_DE_POSSE=5)
print(materia2)

{'EXECUCAO': 91, 'BUSCA_E_APREENSAO': 26, 'REINTEGRACAO_DE_POSSE': 5}

In [43]:
materia = ['EXECUÇÃO'] * 91 + ['BUSCA E APREENSÃO'] * 26 + ['REINTEGRAÇÃO DE POSSE'] * 5
s_materia = set(materia) 
e = 0
b = 0
r = 0
len(materia)

for i in range(len(materia)):
    #s_materia = materia[i]
    e += int(materia[i] == 'EXECUÇÃO')
    b += int(materia[i] == 'BUSCA E APREENSÃO')
    r += int(materia[i] == 'REINTEGRAÇÃO DE POSSE')

s_ebr = {b,e,r}       
#print (d_materia,e,b,r)

{k : v for k, v in zip(s_materia, s_ebr)}

{'BUSCA E APREENSÃO': 5, 'EXECUÇÃO': 91, 'REINTEGRAÇÃO DE POSSE': 26}

In [18]:
materia = ['EXECUÇÃO'] * 91 + ['BUSCA E APREENSÃO'] * 26 + ['REINTEGRAÇÃO DE POSSE'] * 5

e = 0
b = 0
r = 0
len(materia)

print(materia[0])

#[e++ if materia[i] == 'EXECUÇÃO' else b++ if materia[i] == 'BUSCA E APREENSÃO' else r++ for i in range(122)]


#import random
#random.sample(materia,k=len(materia))

EXECUÇÃO

In [36]:
carta = [ 'J','Q','K','A']
carta_nome = ['valete','rainha','rei','as']
{k : v for k, v in zip(carta, carta_nome)}

{'A': 'as', 'J': 'valete', 'K': 'rei', 'Q': 'rainha'}

## Aula 2

In [50]:
from random import randint

for _ in range(5):
    print(randint(1,10))

9
1
10
9
5

In [51]:
a = 5
a**2

25

In [53]:
_

4

In [59]:
%%time
for _ in range(1000000):
    i += 1

Wall time: 72 ms

In [60]:
#Exemplo %%time segunda linha 
%%time
for _ in range(1000000):
    i += 1

SyntaxError: invalid syntax (<ipython-input-60-d8d6644cccfe>, line 2)

In [62]:
#Exemplo %%time segunda linha 
%time
for _ in range(1000000):
    i += 1
    
#depois da primeira linha se usa um so %

Wall time: 0 ns

In [65]:
from time import time

In [69]:
t0 = time()
s = 0
for _ in range(1000000):
    s += 1
print(time() - t0)

0.06900691986083984

In [70]:
time()

1530380575.8261092

## Funcoes

In [73]:
def media_aritmetica(a,b):
    return(a+b)/2

In [88]:
media_aritmetica(2,8)

5.0

In [80]:
def media_geometrica(a,b):
    return (a*b)**0.5

In [81]:
media_geometrica(2,8)

4.0

In [86]:
def media_harmonica(a,b):
    return(2/((1/a)+(1/b)))

In [87]:
media_harmonica(2,8)

3.2

## Orientacao a objetos

In [147]:
class media:
    
    def __init__(self):
        self.name = 'media'
    
    def media_aritmetica(self,a,b):
        return(a+b)/2
    
    def media_geometrica(self,a,b):
        return (a*b)**0.5
    
    def media_harmonica(self,a,b):
        if a != 0 and b != 0:
            return(2/((1/a)+(1/b)))
        else:
            return(0)

In [123]:
print(media.media_aritmetica(2,8))
print(media.media_geometrica(2,8))
print(media.media_harmonica(2,8))

5.0
4.0
3.2

In [148]:
m = media()

In [149]:
print(m.media_aritmetica(2,8))
print(m.media_geometrica(2,8))
print(m.media_harmonica(2,8))

5.0
4.0
3.2

In [150]:
print(m.media_aritmetica(0,1))
print(m.media_geometrica(0,1))
print(m.media_harmonica(0,1))

0.5
0.0
0

In [146]:
import numpy as np
np.divide(-1,0)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: divide by zero encountered in true_divide

-inf

## Generator

In [151]:
# Funcao

def remove_negativos_fun(lst):
    lista_de_retorno = list()
    for i in lst:
        if i >= 0:
            lista_de_retorno.append(i)
    return lista_de_retorno

In [154]:
lst = [-1,0,4,-3,2,3]
remove_negativos_fun(lst)

[0, 4, 2, 3]

In [155]:
# Generator
def remove_negativos_gen(lst):
    for i in lst:
        if i >= 0:
            yield i

In [157]:
list(remove_negativos_gen(lst))

[0, 4, 2, 3]

In [159]:
i = remove_negativos_gen(lst)

In [160]:
next(i)

0

In [161]:
i.__next__()

4

In [163]:
i.next()

AttributeError: 'generator' object has no attribute 'next'

In [168]:
carta = [ 'J','Q','K','A']
carta_nome = ['valete','rainha','rei','as']
naipe = ['c','e','p','o']
{k : v for k, v in zip(carta, carta_nome)}

{'A': 'as', 'J': 'valete', 'K': 'rei', 'Q': 'rainha'}

In [170]:
{(c,n) for n in naipe for c in carta}

{('A', 'c'),
 ('A', 'e'),
 ('A', 'o'),
 ('A', 'p'),
 ('J', 'c'),
 ('J', 'e'),
 ('J', 'o'),
 ('J', 'p'),
 ('K', 'c'),
 ('K', 'e'),
 ('K', 'o'),
 ('K', 'p'),
 ('Q', 'c'),
 ('Q', 'e'),
 ('Q', 'o'),
 ('Q', 'p')}

## *args e **kwargs

In [ ]:
def media_aritmetica(a,b):
    return(a+b)/2

In [177]:
def media_aritmetica2(*args):
    print(args, type(args))
    return sum(args)/len(args)

In [178]:
media_aritmetica2(1,2,3,4,5,6,7,8,9,10)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10) <class 'tuple'>

5.5

In [182]:
def media_aritmetica3(**kwargs):
    print(kwargs, type(kwargs))
    return sum(kwargs.values())/len(kwargs)

In [183]:
media_aritmetica3(a=4,b=10,c=20,d=9)

{'a': 4, 'b': 10, 'c': 20, 'd': 9} <class 'dict'>

10.75

In [184]:
def media_aritmetica4(*args, **kwargs):
    soma = sum(args) + sum(kwargs.values())
    qtde_termos = len(args) + len(kwargs)
    return soma/qtde_termos

In [187]:
media_aritmetica4(1,2,5,a = 10, b=20, z=40,)

13.0

In [186]:
media_aritmetica4(1,2,5,a = 10, b=20, z=40,0)

SyntaxError: positional argument follows keyword argument (<ipython-input-186-856ba91f92f6>, line 1)

## lambda, map e reduce

In [189]:
z = lambda x, y: x + y #lambda serve para escrever funcoes curtas e anonimas

In [190]:
z(1,2)

3

In [191]:
z = lambda x: x**2

#equivale a 
# def z(x):
#     return x ** 2

In [192]:
z(2)

4

In [193]:
list(map(z,[1,2,3,4]))

[1, 4, 9, 16]

In [195]:
list(filter(lambda x: x%3, range(20)))

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19]

In [196]:
list(filter(lambda x: not x%3, range(20)))

[0, 3, 6, 9, 12, 15, 18]

In [198]:
from functools import reduce

reduce(lambda x,y: x*y, [1,2,3,4])

24

## Exercicio

alterar a classe media para um numero arbitrario de argumentos posicionais (positional args) e nomeados (keyworded args)

In [200]:
class media2:
    
    def __init__(self):
        self.name = 'media'
    
    def media_aritmetica(self,*args, **kwargs):
        soma = sum(args) + sum(kwargs.values())
        qtde_termos = len(args) + len(kwargs)
        return soma/qtde_termos
    
    def media_geometrica(self,*args, **kwargs):
        n = reduce(lambda x,y: x*y, args) * reduce(lambda x,y: x*y, kwargs)
        i = reduce(lambda x,y: x/y, args) / reduce(lambda x,y: x/y, kwargs)
        return n**i
    
    def media_harmonica(self,*args, **kwargs):
        if a != 0 and b != 0:
            return(2/((1/a)+(1/b)))
        else:
            return(0)

In [201]:
m2 = media2()

## pi

In [209]:
from random import random

random()

def aproxima_pi(n_iter):
    dentro = 0
    for _ in range(n_iter):
        if random()**2 + random()**2 <= 1:
            dentro += 1
    return 4*(dentro/n_iter)

Wall time: 0 ns

In [212]:
%%time
aproxima_pi(100000000)

Wall time: 48.2 s

3.14177276

In [215]:
import multiprocessing as mp

## NaN

In [3]:
import numpy as np

In [217]:
np.nan

nan

In [219]:
None

In [2]:
import pandas as pd

In [223]:
pd.NaT

NaT

In [225]:
type(np.nan)

float

In [227]:
type(pd.NaT)

pandas._libs.tslib.NaTType

In [230]:
np.nan != np.nan

True

In [232]:
id(np.nan)

92136888

In [237]:
for n in [np.nan, None, pd.NaT]:
    print(pd.isnull(n))

True
True
True

In [239]:
!dir

 O volume na unidade C nao tem nome.
 O N£mero de S‚rie do Volume ‚ 8A04-3CED

 Pasta de C:\Users\a56843646\Downloads

30/06/2018  17:19    <DIR>          .
30/06/2018  17:19    <DIR>          ..
30/06/2018  13:55    <DIR>          .ipynb_checkpoints
30/06/2018  17:18            58.873 AIA - Aula 1 - corrigida.ipynb
02/02/2018  17:41            61.194 titanic.csv
16/04/2018  22:23            20.778 Titanic.ipynb
               3 arquivo(s)        140.845 bytes
               3 pasta(s)   391.885.135.872 bytes dispon¡veis

In [5]:
df = pd.read_csv('titanic.csv')

In [241]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [6]:
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>PassengerId</th>
      <th>Survived</th>
      <th>Pclass</th>
      <th>Name</th>
      <th>Sex</th>
      <th>Age</th>
      <th>SibSp</th>
      <th>Parch</th>
      <th>Ticket</th>
      <th>Fare</th>
      <th>Cabin</th>
      <th>Embarked</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>0</td>
      <td>3</td>
      <td>Braund, Mr. Owen Harris</td>
      <td>male</td>
      <td>22.0</td>
      <td>1</td>
      <td>0</td>
      <td>A/5 21171</td>
      <td>7.2500</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>Cumings, Mrs. John Bradley (Florence Briggs Th...</td>
      <td>female</td>
      <td>38.0</td>
      <td>1</td>
      <td>0</td>
      <td>PC 17599</td>
      <td>71.2833</td>
      <td>C85</td>
      <td>C</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>1</td>
      <td>3</td>
      <td>Heikkinen, Miss. Laina</td>
      <td>female</td>
      <td>26.0</td>
      <td>0</td>
      <td>0</td>
      <td>STON/O2. 3101282</td>
      <td>7.9250</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>Futrelle, Mrs. Jacques Heath (Lily May Peel)</td>
      <td>female</td>
      <td>35.0</td>
      <td>1</td>
      <td>0</td>
      <td>113803</td>
      <td>53.1000</td>
      <td>C123</td>
      <td>S</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>0</td>
      <td>3</td>
      <td>Allen, Mr. William Henry</td>
      <td>male</td>
      <td>35.0</td>
      <td>0</td>
      <td>0</td>
      <td>373450</td>
      <td>8.0500</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>0</td>
      <td>3</td>
      <td>Moran, Mr. James</td>
      <td>male</td>
      <td>NaN</td>
      <td>0</td>
      <td>0</td>
      <td>330877</td>
      <td>8.4583</td>
      <td>NaN</td>
      <td>Q</td>
    </tr>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>0</td>
      <td>1</td>
      <td>McCarthy, Mr. Timothy J</td>
      <td>male</td>
      <td>54.0</td>
      <td>0</td>
      <td>0</td>
      <td>17463</td>
      <td>51.8625</td>
      <td>E46</td>
      <td>S</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>0</td>
      <td>3</td>
      <td>Palsson, Master. Gosta Leonard</td>
      <td>male</td>
      <td>2.0</td>
      <td>3</td>
      <td>1</td>
      <td>349909</td>
      <td>21.0750</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>1</td>
      <td>3</td>
      <td>Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)</td>
      <td>female</td>
      <td>27.0</td>
      <td>0</td>
      <td>2</td>
      <td>347742</td>
      <td>11.1333</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>9</th>
      <td>10</td>
      <td>1</td>
      <td>2</td>
      <td>Nasser, Mrs. Nicholas (Adele Achem)</td>
      <td>female</td>
      <td>14.0</td>
      <td>1</td>
      <td>0</td>
      <td>237736</td>
      <td>30.0708</td>
      <td>NaN</td>
      <td>C</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>1</td>
      <td>3</td>
      <td>Sandstrom, Miss. Marguerite Rut</td>
      <td>female</td>
      <td>4.0</td>
      <td>1</td>
      <td>1</td>
      <td>PP 9549</td>
      <td>16.7000</td>
      <td>G6</td>
      <td>S</td>
    </tr>
    <tr>
      <th>11</th>
      <td>12</td>
      <td>1</td>
      <td>1</td>
      <td>Bonnell, Miss. Elizabeth</td>
      <td>female</td>
      <td>58.0</td>
      <td>0</td>
      <td>0</td>
      <td>113783</td>
      <td>26.5500</td>
      <td>C103</td>
      <td>S</td>
    </tr>
    <tr>
      <th>12</th>
      <td>13</td>
      <td>0</td>
      <td>3</td>
      <td>Saundercock, Mr. William Henry</td>
      <td>male</td>
      <td>20.0</td>
      <td>0</td>
      <td>0</td>
      <td>A/5. 2151</td>
      <td>8.0500</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>13</th>
      <td>14</td>
      <td>0</td>
      <td>3</td>
      <td>Andersson, Mr. Anders Johan</td>
      <td>male</td>
      <td>39.0</td>
      <td>1</td>
      <td>5</td>
      <td>347082</td>
      <td>31.2750</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>14</th>
      <td>15</td>
      <td>0</td>
      <td>3</td>
      <td>Vestrom, Miss. Hulda Amanda Adolfina</td>
      <td>female</td>
      <td>14.0</td>
      <td>0</td>
      <td>0</td>
      <td>350406</td>
      <td>7.8542</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>15</th>
      <td>16</td>
      <td>1</td>
      <td>2</td>
      <td>Hewlett, Mrs. (Mary D Kingcome)</td>
      <td>female</td>
      <td>55.0</td>
      <td>0</td>
      <td>0</td>
      <td>248706</td>
      <td>16.0000</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>16</th>
      <td>17</td>
      <td>0</td>
      <td>3</td>
      <td>Rice, Master. Eugene</td>
      <td>male</td>
      <td>2.0</td>
      <td>4</td>
      <td>1</td>
      <td>382652</td>
      <td>29.1250</td>
      <td>NaN</td>
      <td>Q</td>
    </tr>
    <tr>
      <th>17</th>
      <td>18</td>
      <td>1</td>
      <td>2</td>
      <td>Williams, Mr. Charles Eugene</td>
      <td>male</td>
      <td>NaN</td>
      <td>0</td>
      <td>0</td>
      <td>244373</td>
      <td>13.0000</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>18</th>
      <td>19</td>
      <td>0</td>
      <td>3</td>
      <td>Vander Planke, Mrs. Julius (Emelia Maria Vande...</td>
      <td>female</td>
      <td>31.0</td>
      <td>1</td>
      <td>0</td>
      <td>345763</td>
      <td>18.0000</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>19</th>
      <td>20</td>
      <td>1</td>
      <td>3</td>
      <td>Masselmani, Mrs. Fatima</td>
      <td>female</td>
      <td>NaN</td>
      <td>0</td>
      <td>0</td>
      <td>2649</td>
      <td>7.2250</td>
      <td>NaN</td>
      <td>C</td>
    </tr>
    <tr>
      <th>20</th>
      <td>21</td>
      <td>0</td>
      <td>2</td>
      <td>Fynney, Mr. Joseph J</td>
      <td>male</td>
      <td>35.0</td>
      <td>0</td>
      <td>0</td>
      <td>239865</td>
      <td>26.0000</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>21</th>
      <td>22</td>
      <td>1</td>
      <td>2</td>
      <td>Beesley, Mr. Lawrence</td>
      <td>male</td>
      <td>34.0</td>
      <td>0</td>
      <td>0</td>
      <td>248698</td>
      <td>13.0000</td>
      <td>D56</td>
      <td>S</td>
    </tr>
    <tr>
      <th>22</th>
      <td>23</td>
      <td>1</td>
      <td>3</td>
      <td>McGowan, Miss. Anna "Annie"</td>
      <td>female</td>
      <td>15.0</td>
      <td>0</td>
      <td>0</td>
      <td>330923</td>
      <td>8.0292</td>
      <td>NaN</td>
      <td>Q</td>
    </tr>
    <tr>
      <th>23</th>
      <td>24</td>
      <td>1</td>
      <td>1</td>
      <td>Sloper, Mr. William Thompson</td>
      <td>male</td>
      <td>28.0</td>
      <td>0</td>
      <td>0</td>
      <td>113788</td>
      <td>35.5000</td>
      <td>A6</td>
      <td>S</td>
    </tr>
    <tr>
      <th>24</th>
      <td>25</td>
      <td>0</td>
      <td>3</td>
      <td>Palsson, Miss. Torborg Danira</td>
      <td>female</td>
      <td>8.0</td>
      <td>3</td>
      <td>1</td>
      <td>349909</td>
      <td>21.0750</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>25</th>
      <td>26</td>
      <td>1</td>
      <td>3</td>
      <td>Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...</td>
      <td>female</td>
      <td>38.0</td>
      <td>1</td>
      <td>5</td>
      <td>347077</td>
      <td>31.3875</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>26</th>
      <td>27</td>
      <td>0</td>
      <td>3</td>
      <td>Emir, Mr. Farred Chehab</td>
      <td>male</td>
      <td>NaN</td>
      <td>0</td>
      <td>0</td>
      <td>2631</td>
      <td>7.2250</td>
      <td>NaN</td>
      <td>C</td>
    </tr>
    <tr>
      <th>27</th>
      <td>28</td>
      <td>0</td>
      <td>1</td>
      <td>Fortune, Mr. Charles Alexander</td>
      <td>male</td>
      <td>19.0</td>
      <td>3</td>
      <td>2</td>
      <td>19950</td>
      <td>263.0000</td>
      <td>C23 C25 C27</td>
      <td>S</td>
    </tr>
    <tr>
      <th>28</th>
      <td>29</td>
      <td>1</td>
      <td>3</td>
      <td>O'Dwyer, Miss. Ellen "Nellie"</td>
      <td>female</td>
      <td>NaN</td>
      <td>0</td>
      <td>0</td>
      <td>330959</td>
      <td>7.8792</td>
      <td>NaN</td>
      <td>Q</td>
    </tr>
    <tr>
      <th>29</th>
      <td>30</td>
      <td>0</td>
      <td>3</td>
      <td>Todoroff, Mr. Lalio</td>
      <td>male</td>
      <td>NaN</td>
      <td>0</td>
      <td>0</td>
      <td>349216</td>
      <td>7.8958</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>861</th>
      <td>862</td>
      <td>0</td>
      <td>2</td>
      <td>Giles, Mr. Frederick Edward</td>
      <td>male</td>
      <td>21.0</td>
      <td>1</td>
      <td>0</td>
      <td>28134</td>
      <td>11.5000</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>862</th>
      <td>863</td>
      <td>1</td>
      <td>1</td>
      <td>Swift, Mrs. Frederick Joel (Margaret Welles Ba...</td>
      <td>female</td>
      <td>48.0</td>
      <td>0</td>
      <td>0</td>
      <td>17466</td>
      <td>25.9292</td>
      <td>D17</td>
      <td>S</td>
    </tr>
    <tr>
      <th>863</th>
      <td>864</td>
      <td>0</td>
      <td>3</td>
      <td>Sage, Miss. Dorothy Edith "Dolly"</td>
      <td>female</td>
      <td>NaN</td>
      <td>8</td>
      <td>2</td>
      <td>CA. 2343</td>
      <td>69.5500</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>864</th>
      <td>865</td>
      <td>0</td>
      <td>2</td>
      <td>Gill, Mr. John William</td>
      <td>male</td>
      <td>24.0</td>
      <td>0</td>
      <td>0</td>
      <td>233866</td>
      <td>13.0000</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>865</th>
      <td>866</td>
      <td>1</td>
      <td>2</td>
      <td>Bystrom, Mrs. (Karolina)</td>
      <td>female</td>
      <td>42.0</td>
      <td>0</td>
      <td>0</td>
      <td>236852</td>
      <td>13.0000</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>866</th>
      <td>867</td>
      <td>1</td>
      <td>2</td>
      <td>Duran y More, Miss. Asuncion</td>
      <td>female</td>
      <td>27.0</td>
      <td>1</td>
      <td>0</td>
      <td>SC/PARIS 2149</td>
      <td>13.8583</td>
      <td>NaN</td>
      <td>C</td>
    </tr>
    <tr>
      <th>867</th>
      <td>868</td>
      <td>0</td>
      <td>1</td>
      <td>Roebling, Mr. Washington Augustus II</td>
      <td>male</td>
      <td>31.0</td>
      <td>0</td>
      <td>0</td>
      <td>PC 17590</td>
      <td>50.4958</td>
      <td>A24</td>
      <td>S</td>
    </tr>
    <tr>
      <th>868</th>
      <td>869</td>
      <td>0</td>
      <td>3</td>
      <td>van Melkebeke, Mr. Philemon</td>
      <td>male</td>
      <td>NaN</td>
      <td>0</td>
      <td>0</td>
      <td>345777</td>
      <td>9.5000</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>869</th>
      <td>870</td>
      <td>1</td>
      <td>3</td>
      <td>Johnson, Master. Harold Theodor</td>
      <td>male</td>
      <td>4.0</td>
      <td>1</td>
      <td>1</td>
      <td>347742</td>
      <td>11.1333</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>870</th>
      <td>871</td>
      <td>0</td>
      <td>3</td>
      <td>Balkic, Mr. Cerin</td>
      <td>male</td>
      <td>26.0</td>
      <td>0</td>
      <td>0</td>
      <td>349248</td>
      <td>7.8958</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>871</th>
      <td>872</td>
      <td>1</td>
      <td>1</td>
      <td>Beckwith, Mrs. Richard Leonard (Sallie Monypeny)</td>
      <td>female</td>
      <td>47.0</td>
      <td>1</td>
      <td>1</td>
      <td>11751</td>
      <td>52.5542</td>
      <td>D35</td>
      <td>S</td>
    </tr>
    <tr>
      <th>872</th>
      <td>873</td>
      <td>0</td>
      <td>1</td>
      <td>Carlsson, Mr. Frans Olof</td>
      <td>male</td>
      <td>33.0</td>
      <td>0</td>
      <td>0</td>
      <td>695</td>
      <td>5.0000</td>
      <td>B51 B53 B55</td>
      <td>S</td>
    </tr>
    <tr>
      <th>873</th>
      <td>874</td>
      <td>0</td>
      <td>3</td>
      <td>Vander Cruyssen, Mr. Victor</td>
      <td>male</td>
      <td>47.0</td>
      <td>0</td>
      <td>0</td>
      <td>345765</td>
      <td>9.0000</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>874</th>
      <td>875</td>
      <td>1</td>
      <td>2</td>
      <td>Abelson, Mrs. Samuel (Hannah Wizosky)</td>
      <td>female</td>
      <td>28.0</td>
      <td>1</td>
      <td>0</td>
      <td>P/PP 3381</td>
      <td>24.0000</td>
      <td>NaN</td>
      <td>C</td>
    </tr>
    <tr>
      <th>875</th>
      <td>876</td>
      <td>1</td>
      <td>3</td>
      <td>Najib, Miss. Adele Kiamie "Jane"</td>
      <td>female</td>
      <td>15.0</td>
      <td>0</td>
      <td>0</td>
      <td>2667</td>
      <td>7.2250</td>
      <td>NaN</td>
      <td>C</td>
    </tr>
    <tr>
      <th>876</th>
      <td>877</td>
      <td>0</td>
      <td>3</td>
      <td>Gustafsson, Mr. Alfred Ossian</td>
      <td>male</td>
      <td>20.0</td>
      <td>0</td>
      <td>0</td>
      <td>7534</td>
      <td>9.8458</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>877</th>
      <td>878</td>
      <td>0</td>
      <td>3</td>
      <td>Petroff, Mr. Nedelio</td>
      <td>male</td>
      <td>19.0</td>
      <td>0</td>
      <td>0</td>
      <td>349212</td>
      <td>7.8958</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>878</th>
      <td>879</td>
      <td>0</td>
      <td>3</td>
      <td>Laleff, Mr. Kristo</td>
      <td>male</td>
      <td>NaN</td>
      <td>0</td>
      <td>0</td>
      <td>349217</td>
      <td>7.8958</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>879</th>
      <td>880</td>
      <td>1</td>
      <td>1</td>
      <td>Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)</td>
      <td>female</td>
      <td>56.0</td>
      <td>0</td>
      <td>1</td>
      <td>11767</td>
      <td>83.1583</td>
      <td>C50</td>
      <td>C</td>
    </tr>
    <tr>
      <th>880</th>
      <td>881</td>
      <td>1</td>
      <td>2</td>
      <td>Shelley, Mrs. William (Imanita Parrish Hall)</td>
      <td>female</td>
      <td>25.0</td>
      <td>0</td>
      <td>1</td>
      <td>230433</td>
      <td>26.0000</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>881</th>
      <td>882</td>
      <td>0</td>
      <td>3</td>
      <td>Markun, Mr. Johann</td>
      <td>male</td>
      <td>33.0</td>
      <td>0</td>
      <td>0</td>
      <td>349257</td>
      <td>7.8958</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>882</th>
      <td>883</td>
      <td>0</td>
      <td>3</td>
      <td>Dahlberg, Miss. Gerda Ulrika</td>
      <td>female</td>
      <td>22.0</td>
      <td>0</td>
      <td>0</td>
      <td>7552</td>
      <td>10.5167</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>883</th>
      <td>884</td>
      <td>0</td>
      <td>2</td>
      <td>Banfield, Mr. Frederick James</td>
      <td>male</td>
      <td>28.0</td>
      <td>0</td>
      <td>0</td>
      <td>C.A./SOTON 34068</td>
      <td>10.5000</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>884</th>
      <td>885</td>
      <td>0</td>
      <td>3</td>
      <td>Sutehall, Mr. Henry Jr</td>
      <td>male</td>
      <td>25.0</td>
      <td>0</td>
      <td>0</td>
      <td>SOTON/OQ 392076</td>
      <td>7.0500</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>885</th>
      <td>886</td>
      <td>0</td>
      <td>3</td>
      <td>Rice, Mrs. William (Margaret Norton)</td>
      <td>female</td>
      <td>39.0</td>
      <td>0</td>
      <td>5</td>
      <td>382652</td>
      <td>29.1250</td>
      <td>NaN</td>
      <td>Q</td>
    </tr>
    <tr>
      <th>886</th>
      <td>887</td>
      <td>0</td>
      <td>2</td>
      <td>Montvila, Rev. Juozas</td>
      <td>male</td>
      <td>27.0</td>
      <td>0</td>
      <td>0</td>
      <td>211536</td>
      <td>13.0000</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>887</th>
      <td>888</td>
      <td>1</td>
      <td>1</td>
      <td>Graham, Miss. Margaret Edith</td>
      <td>female</td>
      <td>19.0</td>
      <td>0</td>
      <td>0</td>
      <td>112053</td>
      <td>30.0000</td>
      <td>B42</td>
      <td>S</td>
    </tr>
    <tr>
      <th>888</th>
      <td>889</td>
      <td>0</td>
      <td>3</td>
      <td>Johnston, Miss. Catherine Helen "Carrie"</td>
      <td>female</td>
      <td>NaN</td>
      <td>1</td>
      <td>2</td>
      <td>W./C. 6607</td>
      <td>23.4500</td>
      <td>NaN</td>
      <td>S</td>
    </tr>
    <tr>
      <th>889</th>
      <td>890</td>
      <td>1</td>
      <td>1</td>
      <td>Behr, Mr. Karl Howell</td>
      <td>male</td>
      <td>26.0</td>
      <td>0</td>
      <td>0</td>
      <td>111369</td>
      <td>30.0000</td>
      <td>C148</td>
      <td>C</td>
    </tr>
    <tr>
      <th>890</th>
      <td>891</td>
      <td>0</td>
      <td>3</td>
      <td>Dooley, Mr. Patrick</td>
      <td>male</td>
      <td>32.0</td>
      <td>0</td>
      <td>0</td>
      <td>370376</td>
      <td>7.7500</td>
      <td>NaN</td>
      <td>Q</td>
    </tr>
  </tbody>
</table>
<p>891 rows × 12 columns</p>
</div>

In [1]:
import tensorflow as tf

ModuleNotFoundError: No module named 'tensorflow'

In [7]:
df.Survived.value_counts()

0    549
1    342
Name: Survived, dtype: int64